
* {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0, 0.69);
    position: absolute;
    
    width:100%;
    top: 1rem;
    /* z-index: 100; */
}

header img{
    padding-left: 1rem;
}

header nav{
    list-style: none;
    padding-left: 10px;
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 1.25rem;
    
}

a.icon{
    display: none;
}
.nav-links:hover {
    color: darkorange;
    transition: all 0.2s ease-out;
}

#hero{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bkg_1 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.hero_container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items:flex-end;
    justify-content: center;
}



.hero_container .hero_info h1{
    font-size: 51px;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 800;
    justify-content: center;
    position: relative;
    
    
}

.hero_container .hero_info h2{
    font-size: 79px;
    font-weight: 900;
    margin-bottom: 1rem;
}


.elevator_button{
    text-align: center;
}

#why_us{
    background-color: #383838;
    width: 100%;
    height: auto;
    color: white;
    align-items: center;
    /* vertical-align: middle; */
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */

}

.why_us_info{
    text-align: center;
}

.why_us_container .why_us_info h1{
    font-size: 25px;
    font-weight: 700;
    margin-top: 2rem;
}

.why_us_container .why_us_info h2{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 2rem;
}

.why_us_container .why_us_chevron_container{
    text-align: center;
    margin-bottom: .05rem;
}

.why_us_vector_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.why_us_vector_container img{
    margin: 1.5rem 5rem;

}

.why_us_vector_container p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

@media (max-width:820px) {
    .hero_container .hero_info h2 {
        font-size: 55px;
      }
    .why_us_container .why_us_info h1{
        font-size: 20px;
    }
    .why_us_container .why_us_info h2{
        font-size: 32px;
    }
}

#products_description{
    background-color: white;
    color: #000000;
    width: 100%;
}

.products_description_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 3rem 5rem; */
    
}

.products_description_info{
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    line-height: 32px;
    justify-content: center;
}

/* .products_description_info h1{
    font-size: 25px;
    font-weight: 700;
}

.products_description_info h2{
    font-size: 36px;
    font-weight: 900;
} */

.products_description_info p{
    margin-top: 1rem;
    width: 700px;
    height: 217px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.products_description_image{
    width: 615px;
    height: 411px;
   

}

#product_line{
    background-color: #FF7630;
    width: 100%;
    color: white;
    text-align: center;
}

.product_line_info{
    margin-top: 1rem;
    font-size: 20px;
    line-height: 48px;
}

.product_line_info h1{
    padding-top: 2rem;
    font-weight: 700;
    font-size: 25px;
}

.product_line_info h2{
    font-weight: 900;
    font-size: 45px;
}

.product_line_info img{
    margin: 2rem;
}

.product_image_cards{
    color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.image_card{
    background-color: rgba(255,255,255);
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 1.5rem;
}

.image_card h1{
    padding-top: 0.4rem;
    font-weight: 700;
    line-height: 25px;
    font-size: 20px;
}

.image_card p{
    font-weight: 400;
    font-size: 20px;
}

.download_button{
    margin-top: 5rem;
    padding-bottom: 5rem;
}

form{
    width: 528px;
    margin: auto;
}

#contact{
    margin: 5rem 0;
    background-color: white;
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#contact label{
    text-align: left;
}

#contact h1{
    font-size: 25px;
    font-weight: 700;
    color: #000000;
}

#contact h2{
    font-size: 45px;
    font-weight: 900;
    color: #FF7630;
}

#contact img{
    margin: 2rem;
}

label{
    display: block;
    /* justify-content: left; */
    box-sizing: border-box;
    font-size: 14px;
    color: #292929;
    margin-bottom: 0.5rem;
}

input{
    padding: 0.5em;
    border: solid 1px #A0A0A0;
    width: 513px;
    height: 40px;
    margin-bottom: 2rem;
}

.fieldGroup{
    display: flex;
    justify-content: space-between;
    width: 528px;
  }

#submit{
    background-color: white;
    border: 3px solid #292929;
    color: #292929;
    width: 100% ;
}

#submit:hover{
    cursor: pointer;
}

    .phone{
        width: 48%;
    }

    .language{
        width: 48%;
    }

    .phone input{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        color: #292929;
    }

    .language select{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        font-size: 14px;
        /*margin-left: 15rem;*/
        color: #292929;
    }
   
#banner{
    background-color: #292929;
    color: #FF7630;
    display: flex;
    width: 100%;
    justify-content: center;
}

#banner h1{
    font-size: 45px;
    font-weight: 900;
    margin-top: 6rem;
}

#banner img{
    margin: 3rem;
}

.office_info{
    margin: 5rem 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.us_office_info h1{
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #FF7630;
}

.us_office_info h2{
    font-weight: 700;
    font-size: 22px;
}

.us_office_info p{
    font-size: 22px;
    font-weight: 400;
    color: #292929;
}

.ca_office_info h1{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #FF7630;
}

.ca_office_info h2{
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 700;
    font-size: 22px;
}

.ca_office_info p{
    display: flex;
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    color: #292929;
}

.copyright{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
} 
@media (max-width:430px) {
    html{
        scroll-behavior: smooth;
    }
    .download_button{
        position: fixed;
        bottom: 0;
        background-color:rgba(0,0,0, 0.69);
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 4rem;

        /* float: inline-end; */
       
    }
    header img{
        width:48%;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }
    header{
        /* height: auto; */
    flex-wrap: wrap;

        /* overflow: hidden; */
        width: 100%;
        /* float: left; */
        position: fixed;

        top:0px;
        height: 12%;
        
    }
    header #nav {
        display: none;
        /* z-index: 100; */
        background-color: rgba(0,0,0, 0.69);
        width: 100%;
    }
    header a{
        display: block;
    }
    header a.icon{
        display: block;
        position: absolute;
        color: #fff;
        right: 0px;
        top:0px;
    }
    /* a.icon .is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } */
    header a:hover{
        background-color: aquamarine;
    }
    
    #hero{
        width: 100vw;
        height: 60vh;
        
        background-image: url('../assets/bkg_1 1.png');
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        color: white;
    }
    
    .hero_container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /* display: flex; */
        /* flex-wrap: wrap; */
        align-items:flex-end;
        justify-content: center;
    }
    /* .hero_info{
        width: 100%;
        height: 100%;
    } */
    .hero_container .hero_info h1{
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 1rem;
      } 
    .hero_container .hero_info h2{
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 1rem;
        text-align: center;
      }
    .elevator_button{
        margin-bottom: -2rem;
    }
    
    
    .why_us_container .why_us_info h1{
        margin-top: 6rem;
        font-size: 16px;
    }
    .why_us_container .why_us_info h2{
        margin-top: 1rem;
        font-size: 22px;
    }
    .why_us_vector_container{
        
        flex-wrap: wrap;
        margin-bottom: 9rem;
    }
    .why_us_vector_container div{
        margin-top: 3rem;
    }
    .why_us_vector_container div p{
        margin-top: 1rem;
    }
    .products_description_container{
        flex-wrap: wrap-reverse;
        margin-top: 3rem;
        margin-left: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 5rem;
    }
    .products_description_info h1{
    font-size: 18px;}
    .products_description_info h2{
    font-size: 28px;
    }
    .products_description_info p{
        width: 100%;
        font-size: 16px;
        /* text-align:justify; */
        height: auto;}
    .products_description_image{
        margin-top: 0.5rem;
        width: 100%;
        height:auto;
        /* object-fit: cover; */
    }
    .products_description_image img {
        max-width:100%;
        height:27vh;
    }
    
    
    
    .product_line_info h1{
        padding-top: 3rem;
        font-size: 15px;
        font-weight: 100;
    }
    .product_line_info h2{
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }
    .product_image_cards{
       padding-bottom: 5rem;
      
    }
    #contact{
        margin-top: 2.5rem;
    }
    #contact h1{
        
        font-size: 16px;
        font-weight: 600;
    }
    #contact h2{
        padding-top: 1rem;
        font-size: 22px;
    }
    form{
        margin-top:0 ;
        width: 320px;
        /* margin: auto; */
    }
    label{
        font-size: 10px;
    }
    
    input{
        width: 300px;
        /* max-height: auto; */
        margin-bottom: 1.5rem;
        height: 40px;
    }
    .fieldGroup{
        display: flex;
        flex-wrap: wrap;
        
        /* justify-content: space-between; */
       
      }
    
    
    
    .phone{
            width: 330px;
            height: auto;
        }
    
    .language{
            width: 320px;
            height: auto;
        }
    
    .phone input{
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            width: 320px;
            height: 50px;
            font-size: 14px;
            color: #292929;
        }
    
    .language select{
            display: flex;
            justify-content: center;
            width: 320px;
            height: 50px;
            padding: 7px;
            /* box-sizing: border-box; */
            border-width: 1px;
            font-size: 14px;
            margin-bottom: 2rem;
            color:#292929;
            font-weight: 200;
            background-color: #fff;
            border-color:#A0A0A0;

        }
        #submit{
            background-color: white;
            border: 3px solid #292929;
            color: #292929;
            width: 320px;
            height: 50px;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
        }
        #submit:hover{
            cursor: pointer;
        }
    #banner{
            background-color: #292929;
            color: #FF7630;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 48vh;
            justify-content: center;
        }
        
    #banner h1{
            font-size: 45px;
            font-weight: 900;
            text-align: center;
            margin-top: 4rem;
    }
        
    #banner img{
            margin: 3rem;
    }
    .office_info{
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    
    .us_office_info h1{
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        justify-content: center;
        text-align:center;
        color: #FF7630;
    }
    
    .us_office_info h2{
        font-weight: 700;
        justify-content: center;
        text-align:center;
        font-size: 21px;
    }
    
    .us_office_info p{
        margin-top: 10px;
        font-size: 21px;
        font-weight: 400;
        justify-content: center;
        text-align:center;
        color: #292929;
    }
    
    .ca_office_info h1{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        color: #FF7630;
    }
    
    .ca_office_info h2{
        display: flex;
        align-items: center;
        justify-content:center;
        font-weight: 700;
        font-size: 21px;
    }
    
    .ca_office_info p{
        margin-top: 10px;
        display: flex;
        text-align:center;
        font-size: 20px;
        font-weight: 400;
        color: #292929;
    }
    
    .copyright{
        
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
        margin-bottom: 10rem;
    } 

}
/* @media (min-width:1000px) {
    #banner h1{
        font-size: 45px;
        font-weight: 900;
        margin-top: 6rem;
    }
    
    #banner img{
        margin: 3rem;
    }
    #why_us{
    height: 65vh;
    }
    .products_description_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 5rem;
        
    }
} */