* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0, 0.69);
    position: absolute;
    width:100%;
    top: 1rem;
}

header img{
    padding-left: 1rem;
}

header li{
    list-style: none;
    padding-left: 10px;
}

header li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 1.25rem;
}
.icon {
    display: none;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.nav-links:hover {
    color: darkorange;
    transition: all 0.2s ease-out;
}

.bar{
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

#hero{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/bkg_1 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.hero_container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container .hero_info h1{
    font-size: 51px;
    margin-top: 41rem;
    font-weight: 800;
}

.hero_info{
    text-align: center;
}

.hero_container .hero_info h2{
    font-size: 79px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.elevator_button{
    text-align: center;
}

#why_us{
    background-color: #383838;
    width: 100%;
    height: 65vh;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.why_us_info{
    text-align: center;
}

.why_us_container .why_us_info h1{
    font-size: 25px;
    font-weight: 700;
    margin-top: -2rem;
}

.why_us_container .why_us_info h2{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 2rem;
}

.why_us_container .why_us_chevron_container{
    text-align: center;
    margin-bottom: .05rem;
}

.why_us_vector_container{
    display: flex;
    justify-content: space-around;
}

.why_us_vector_container img{
    margin: 1.5rem 5rem;
}

.why_us_vector_container p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#products_description{
    background-color: white;
    color: #000000;
    width: 100%;
}

.products_description_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 5rem;
}

.products_description_info{
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    justify-content: center;
}

.products_description_info h1{
    font-size: 25px;
    font-weight: 700;
}

.products_description_info h2{
    font-size: 36px;
    font-weight: 900;
}

.products_description_info p{
    margin-top: 1rem;
    width: 700px;
    height: 217px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.products_description_image{
    width: 615px;
    height: 411px;
}

#product_line{
    background-color: #FF7630;
    width: 100%;
    color: white;
    text-align: center;
}

.product_line_info{
    margin-top: 1rem;
    font-size: 20px;
    line-height: 48px;
}

.product_line_info h1{
    padding-top: 2rem;
    font-weight: 700;
    font-size: 25px;
}

.product_line_info h2{
    font-weight: 900;
    font-size: 45px;
}

.product_line_info img{
    margin: 2rem;
}

.product_image_cards{
    color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.image_card{
    background-color: rgba(255,255,255);
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 1.5rem;
}

.image_card h1{
    padding-top: 0.4rem;
    font-weight: 700;
    line-height: 25px;
    font-size: 20px;
}

.image_card p{
    font-weight: 400;
    font-size: 20px;
}

.download_button{
    margin-top: 5rem;
    padding-bottom: 5rem;
}

form{
    width: 528px;
    margin: auto;
}

#contact{
    margin: 5rem 0;
    background-color: white;
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#contact label{
    text-align: left;
}

#contact h1{
    font-size: 25px;
    font-weight: 700;
    color: #000000;
}

#contact h2{
    font-size: 45px;
    font-weight: 900;
    color: #FF7630;
}

#contact img{
    margin: 2rem;
}

label{
    display: block;
    justify-content: left;
    box-sizing: border-box;
    font-size: 14px;
    color: #292929;
    margin-bottom: 0.5rem;
}

input{
    padding: 0.5em;
    border: solid 1px #736B6B;
    width: 513px;
    height: 40px;
    margin-bottom: 2rem;
}

.fieldGroup{
    display: flex;
    justify-content: space-between;
    width: 528px;
}

#submit{
    background-color: white;
    border: 3px solid #292929;
    color: #292929;
    width: 100% ;
}

#submit:hover{
    cursor: pointer;
}

.phone{
    width: 48%;
}

.language{
    width: 48%;
}

.phone input{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #292929;
}

.language select{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    color: #292929;
}

#banner{
    background-color: #292929;
    color: #FF7630;
    display: flex;
    width: 100%;
    justify-content: center;
}

#banner h1{
    font-size: 45px;
    font-weight: 900;
    margin-top: 6rem;
}

#banner img{
    margin: 3rem;
}

.office_info{
    margin: 5rem 0;
    display: flex;
    justify-content: space-evenly;
}

.us_office_info h1{
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #FF7630;
}

.us_office_info h2{
    font-weight: 700;
    font-size: 22px;
}

.us_office_info p{
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    color: #292929;
}

.ca_office_info h1{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #FF7630;
}

.ca_office_info h2{
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 700;
    font-size: 22px;
}

.ca_office_info p{
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    color: #292929;
}

.copyright{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}






